body {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
    text-align: center;
}

#nav {
    background: #616161;
    min-height: 10vh;
    flex-grow: 1;
}

#main {
    display: flex;
    flex-direction: column;
    flex-grow: 5;
}

#content {
    display: flex;
    flex-direction: row;
}

#article {
    background-color: lightblue;
    min-height: 60vh;
    flex-grow: 3;
}

#aside {
    background-color: rgb(46, 80, 124);
    min-height: 60vh;
    flex-grow: 1;
}

header,
footer {
    display: flex;
    background: lightgray;
    height: 20vh;
}

@media only screen and (max-width: 500px) {
    body {
        flex-direction: column;
    }

    #content {
        flex-direction: column;
        min-height: 40vh;
    }
}
